
* { margin: 0; padding: 0; }
ul { list-style-type: none; }
img { border:none; }

body, button, input, select, textarea {
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','微软雅黑', '宋体','sans-serif' !important;
  font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", "tahoma", "arial", "\5B8B\4F53";
  -webkit-font-smoothing: antialiased;
}

/**************************************
这里是更新日志用到的样式列表...
**************************************/
.site-content {
  width: 100%; /*899px;*/
  min-height: 500px;
  padding: 20px 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.site-h1 {
  margin-bottom: 20px;
  line-height: 60px;
  padding-bottom: 10px;
  color: #393D49;
  border-bottom: 1px solid #eee;
  font-size: 28px;
  font-weight: 300;
}
.site-content .layui-timeline-title h2 {
  display: inline-block;
}
.site-content .layui-timeline-title .layui-badge-rim {
  top: -3px; left: 10px;
}
.footer {
  width: 100%;
  padding: 10px 0;
  line-height: 20px;
  text-align: center;
  color: #333;
  font-weight: 300;
  position: relative;
  bottom: 0;
}
/******************************************
更新日志移动端的特殊样式处理...
******************************************/
@media screen and (max-width: 750px) {
  .site-content{width: 100%; padding: 0; overflow: auto;}
  .site-h1{padding-bottom: 0;}
}

.site-download {
  margin-top: 10px;
  font-size: 0;
}
.site-download a {
  position: relative;
  padding: 0 45px 0 90px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #FF5722;
  border-color: rgba(255,87,34,.4);
  font-size: 24px;
  color: #222;
  transition: all .5s;
  -webkit-transition: all .5s;
  text-decoration: none;
  background-color: rgba(255,87,34,.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FF5722,endColorstr=#B2FF5722);
}
.site-download a:hover {
  border-color: rgba(255,87,34,.3);
  background-color: rgba(255,87,34,.9);
  border-radius: 30px;
  color: #fff;
}
.site-download a cite {
  position: absolute;
  font-size: 30px;
  left: 45px;
}
.site-version {position: relative; margin-top: 10px; color: #222; font-size: 14px;}
.site-version span{padding: 0 3px;}
.site-version *{font-style: normal;}
.site-version a{color: #0168b7; text-decoration: none;}
.site-version a:hover{color: #0168b7; text-decoration: underline;}

.top {
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 999;
  position: fixed;
  background-color: #0168b7;
}
.inner {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.logo {
  float: left;
  margin-top: 5px;
}
.logo a {
  display: inline-block;
  text-decoration: none;
}
.nav {
  float: right;
  margin-top: 20px;
  font-size: 0;
}
.nav li {
  display: inline-block;
  margin-left: 30px;
}
.nav a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  color: #83c3f3;
}
.nav .active a {
  color: #83c3f3;
}
.section {
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}
.bk-blue {
  background: -webkit-gradient(linear, top left, bottom left, from(#cfe8fc), to(#7BAABE));
  background: -webkit-linear-gradient(#cfe8fc, #7BAABE);
  background: linear-gradient(#cfe8fc,#7BAABE);
}
.bk-white {
  background: -webkit-gradient(linear, top left, bottom left, from(#ffffff), to(#eee9e5));
  background: -webkit-linear-gradient(#ffffff, #eee9e5);
  background: linear-gradient(#ffffff,#eee9e5);
}
.layui-container {
  padding: 0px 0px;
}
.page-title {
  color: #0168b7;
  font-size: 32px;
  font-weight: 900;
}
.page-text {
  color: #0090ff;
  font-size: 20px;
  text-align: left;
  text-indent: 25px;
  line-height: 25px;
}
.page-name {
  color: #028eff;
  font-size: 24px;
  text-align: left;
  line-height: 30px;
  font-weight: normal;
  text-indent: 5px;
}
.no-indent {
  text-indent: 0px !important;
}
.row-space {
  margin-top: 10px;
}
#kx-img-2 img {
  border-radius: 20px;
}
#kx-img-3 img {
  border-radius: 20px;
}
#bs-ul-1 #bs-ul-2 {
  line-height: 30px;
}
#bs-img-5 {
  text-align: right;
}
#section5 img {
  width: 280px;
  margin-bottom: 10px;
}
/*.kx-banner {
  margin: 20px auto 10px;
  position:relative;
}
.kx-img-left {
  left: 30%;
  bottom: 150px;
  position: absolute;
}
.kx-img-left img {
  width: 150px;
}
.kx-img-right {
  right: 30%;
  bottom: 150px;
  position: absolute;
}
.kx-img-right img {
  width: 150px;
}*/

.jm-title {
  color: #028eff;
  font-size: 32px;
  margin: 20px 10px;
  font-weight: 900;
}
.jm-addr {
  color: #0168b7;
  font-size: 22px;
  text-align: left;
  margin: auto 20px;
  font-weight: normal;
}
.jm-bot {
  bottom: 0;
  width: 100%;
  color: #04558d;
  font-size: 16px;
  padding: 20px 20px;  
  position: absolute;
  text-align: center;
  background-color: #89adcd;
}
.jm-text {
  line-height: 25px;
  font-weight: 600;
}
/******************************************
首页移动端的特殊样式处理...
******************************************/
@media screen and (max-width: 750px) {
  .top { display: none; }
  #kx-img-0 img { width: 100%; }
  #kx-img-1 img { width: 60%; }
  #section1 { background: #cfe8fc; }
  #bs-img-1 img { width: 60%; }
  #section3 { background: #cfe8fc; }
  #zj-img-1 img { width: 200px; }
  #zj-img-2 img { width: 200px; }
  #section5 { background: #cfe8fc; }
  #section5 img { width: 150px; }
  #section5 .page-name { font-size: 16px; line-height: 20px; text-indent: 25px; }
  .page-text { font-size: 16px; line-height: 20px; }
  .page-title { font-size: 20px; }
  .jm-title { font-size: 20px; }
  .jm-addr { font-size: 18px; }
  .layui-col-space30 { margin: 0 0; }
  .layui-col-space30>* { padding: 5px 20px; }
}
