
*{font-family:Microsoft YaHei;}

/*标题文字颜色*/
QLabel#titleName {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

QLabel#titleVer {
  color: #d0d0d0;
}

/* error notice */
QLabel#titleQR,#titleScan {
	color: yellow;
	font-size: 18px;
}

/*关闭按钮*/
QPushButton#btnClose {
    border-image:url(:/mini/images/mini/close.png) 0 60 0 0 ;
    border-top-right-radius:4;
}
QPushButton#btnClose:hover {
    border-image:url(:/mini/images/mini/close.png) 0 30 0 30 ;
    border-top-right-radius:4;
}
QPushButton#btnClose:pressed {
    border-image:url(:/mini/images/mini/close.png) 0 0 0 60 ;
    border-top-right-radius:4;
}

/*button min*/
QPushButton#btnMin {
    border-image:url(:/mini/images/mini/min.png) 0 60 0 0 ;
}
QPushButton#btnMin:hover {
    border-image:url(:/mini/images/mini/min.png) 0 30 0 30 ;
}
QPushButton#btnMin:pressed {
    border-image:url(:/mini/images/mini/min.png) 0 0 0 60 ;
}

/*下拉列表框*/
QComboBox {
    font-size: 14px;
    background: white;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid rgb(209, 209, 209);
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
}
QComboBox:hover {
    /*border: 1px solid rgb(21, 131, 221);*/
    border: 1px solid rgb(220, 20, 60);
}
QComboBox QAbstractItemView::item {
    height: 40px;
}
QComboBox::down-arrow {
    border-image:url(:/mini/images/mini/drop_down_Button.png) 0 34 0 0;
}
QComboBox::down-arrow:hover {
    border-image:url(:/mini/images/mini/drop_down_Button.png) 0 17 0 17;
}
QComboBox::down-arrow:on {
    border-image:url(:/mini/images/mini/drop_down_Button.png) 0 0 0 34;
}
QComboBox::drop-down {
    width:20px;
    background:transparent; /*不加此句下拉箭头背景色为灰色与整体样式不一致，也可设置 border:0px; border-radius:0px; background:white; border-left:0px ; 即设置为无边框*/
    padding-right:5px;
}

/*编辑框*/
QLineEdit {
    font-size: 14px;
    background: white;
    padding-left: 5px ;
    padding-top: 0px ;
    border-radius: 3px;
    border-top: transparent;
    border: 1px solid rgb(209 , 209 , 209);
    /*border-bottom-left-radius:3px;*/
    /*border-bottom-right-radius:3px;*/
}
QLineEdit:hover {
    padding-top: 0px;
    border: 1px solid rgb(220, 20, 60);
    /*border: 1px solid rgb(21, 131, 221);*/
}

/*登陆按钮*/
QPushButton#loginButton {
    color:white;
    background-color:rgb(14 , 170 , 254);
    border-radius:5px;
    font-size:14px;
}

QPushButton#loginButton:hover {
    color:white;
    background-color:rgb(64 , 137 , 255);
}

QPushButton#loginButton:pressed {
    color:white;
    background-color:rgb(14 , 155 , 228);
    padding-left:3px;
    padding-top:3px;
}

QPushButton#logoutButton {
    color:white;
    background-color:rgb(255 , 84 , 84);
    border-radius:5px;
    font-size:14px;
}

QPushButton#logoutButton:hover {
    color:white;
    background-color:rgb(255 , 102 , 102);
}

QPushButton#logoutButton:pressed {
    color:white;
    background-color:rgb(255 , 153 , 102);
    padding-left:3px;
    padding-top:3px;
}
